<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sound World</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Home/logo.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="/Css/admin.css" rel="stylesheet">

</head>

<body class="h-100">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="/">
                                    <h4>SOUND WORLD</h4>
                                </a>
                                <% if(messageSignup!=''){%>
                                    <br>
                                    <div class="alert success alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <%= messageSignup %>
                                    </div>
                                    <%}%>
                                        <% if(message!=''){%>
                                            <br>
                                            <div class="alert alert-danger alert-dismissible fade show">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>Tên đăng nhập hoặc mật khẩu không chính xác
                                            </div>
                                            <%}%>
                                                <form class="mt-5 mb-5 login-input" action="/admin/login" method="post">
                                                    <div class="form-group">
                                                        <input value="admin" type="text" class="form-control" placeholder="Email" id="email" name="username">
                                                    </div>
                                                    <div class="form-group">
                                                        <input value="111111" type="password" class="form-control" placeholder="Password" id="password" name="password">
                                                    </div>
                                                    <button class="btn login-form__btn submit w-100">Đăng nhập</button>
                                                </form>
                                                <!-- <p class="mt-5 login-form__footer">Bạn chưa có tài khoản? <a href="/Admin/signup" class="text-primary">Đăng ký</a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/plugins/common/common.min.js"></script>
    <script src="/Js/admin/custom.min.js"></script>
    <script src="/Js/admin/settings.js"></script>
    <script src="/Js/admin/gleek.js"></script>
    <script src="/Js/admin/styleSwitcher.js"></script>
</body>

</html>