<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sound World</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/kisspng-apple-logo-rainbow-color-computer-logo-pictures-5aadfbbb126f32.6544625815213516110755.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="/css/style1.css" rel="stylesheet">

</head>

<body class="h-100">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">

                                <a class="text-center" href="/">
                                    <h4>Apple Store</h4>
                                </a>
                                <% if(locals.errorMessage) { %>
                                    <br>
                                    <div class="alert alert-danger">
                                        <%= errorMessage %>
                                    </div>
                                    <% } %>
                                        <form class="mt-5 mb-5 login-input" action="/admin/signup" method="post">
                                            <div class="form-group">
                                                <input value="<%= hoten%>" type="text" class="form-control" placeholder="Họ tên" id="hoten" name="hoten">
                                            </div>
                                            <div class="form-group">
                                                <input value="<%= email%>" type="email" class="form-control" placeholder="Email" id="email" name="email">
                                            </div>
                                            <div class="form-group">
                                                <input value="<%= password%>" type="password" class="form-control" placeholder="Password" id="password" name="password">
                                            </div>
                                            <button class="btn login-form__btn submit w-100">Đăng ký</button>
                                        </form>
                                        <p class="mt-5 login-form__footer">Có tài khoản <a href="/Admin/login" class="text-primary">Đăng nhập </a> ngay</p>
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/plugins/common/common.min.js"></script>
    <script src="/js/admin/custom.min.js"></script>
    <script src="/js/admin/settings.js"></script>
    <script src="/js/admin/gleek.js"></script>
    <script src="/js/admin/styleSwitcher.js"></script>
</body>

</html>