<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('head_tag') %>
</head>

<body>
    <%- include('header') %>


        <div class="content">

            <div data-aos="fade-up" class="hero">
                <img src="../Images/Home/pngwing.com.png">
                <div class="hero_text">
                    <h1>
                        Chào mừng đến với<br> SOUND WORLD.
                    </h1>
                    <a href="/about">
                    Tìm hiểu thêm
                </a>

                </div>
            </div>


            <div style="padding-top: 50px;">
                <div class="container">
                    <div data-aos="fade-right" data-aos-duration="2000" class="row">
                        <div class="item col-md-8">
                            <div class="carousel slide" data-ride="carousel" data-interval="3000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://shopearphone.blob.core.windows.net/file/250_2226_sony_mdr_ex15ap_black_1.jpg">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="https://shopearphone.blob.core.windows.net/file/250_2283_dfbgdsgdfhfgh.JPG">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/Images/Home/tai_nghe_jbl_tune_220tws_4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="itemInf col-md-4">
                            <h1 style="font-weight: 1000;">Tai nghe Sony MDR-EX15AP</h1>
                            <h4>Kích thước nhỏ gọn<br>đem lại khả năng đeo dễ dàng</h4>
                            <br>
                            <br>
                            <h5>Giá từ 199.000 vnđ</h5>
                            <a href="/products?id=607eea8803ce6510e81f4af2" class="buyBtn"> Đặt ngay </a>
                        </div>


                    </div>


                    <br>
                    <br>
                    <br>
                    <br>
                    <div data-aos="fade-left" data-aos-duration="2000" class="row">
                        <div class="itemInf col-md-4">
                            <h1 style="font-weight: 1000;">Tai nghe True Wireless JBL Tune 220TWS</h1>
                            <h4>Sở hữu sở hữu thiết kế sành điệu và bắt mắt không kém gì các mẫu tai nghe cao cấp hiện nay</h4>
                            <br>
                            <br>
                            <h5>Giá từ 2.890.000 vnđ</h5>
                            <a href="/products?id=607eea7a03ce6510e81f4af1" class="buyBtn"> Đặt ngay </a>
                        </div>
                        <div class="item col-md-8">
                            <div class="carousel slide" data-ride="carousel" data-interval="3000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="/Images/Home/tai_nghe_jbl_tune_220tws_4.jpg">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/Images/Home/tai_nghe_jbl_tune_220tws_4.jpg">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/Images/Home/tai_nghe_jbl_tune_220tws_4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" data-aos-duration="2000" class="row">
                        <div class="item col-md-8">
                            <div class="carousel slide" data-ride="carousel" data-interval="3000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="/Images/Home/jbl_everest_310ga_bt_1.jpg">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="itemInf col-md-4">
                            <h1 style="font-weight: 1000;">Tai nghe Bluetooth JBL Everest 310GA BT</h1>
                            <h4>Phần cứng tốt nhất cho những tác vụ nặng nhất</h4>
                            <br>
                            <br>
                            <h5>Giá từ 4.650.000 vnđ</h5>
                            <a href="/products?id=607eeaa403ce6510e81f4af4" class="buyBtn"> Đặt ngay </a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="spacer" style="height: 150px;"></div>
                    <div data-aos="fade-up" data-aos-duration="2000" class="end_banner">
                        <h1 style="font-weight: 1000; color: white;">Phụ kiện</h1>
                        <br>
                        <hr>
                        <div class="row accesory">

                            <div onclick="location.href='/products?id=';" style="cursor: pointer;" class="icon_accs">
                                <img src="Images/Home/km.png" alt="">
                            </div>
                            <h4>
                            </h4>
                            <div onclick="location.href='/products?id=';" style="cursor: pointer;" class="icon_accs">
                                <img src="Images/Home/sound.png" alt="">
                            </div>
                            <h4>
                            </h4>
                            <div onclick="location.href='/products?id=';" style="cursor: pointer;" class="icon_accs">
                                <img src="Images/Home/hub.png" alt="">
                            </div>
                            <h4>
                            </h4>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>

                </div>
            </div>

        </div>



        <%- include('footer') %>
            <script>
                AOS.init();
                $(function() {
                    $(window).on('scroll', function() {
                        if ($(window).scrollTop() > 10) {
                            $('.navbar').addClass('active');
                            $('.searchBox').addClass('active');
                        } else {
                            $('.navbar').removeClass('active');
                            $('.searchBox').removeClass('active');
                        }
                    });
                });
            </script>
</body>

</html>